* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", Verdana, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 5px;
    background-color: #f6f8fa;
}

#container, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 392px;
    height: 150%;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    perspective: 1000px;
}

header {
    width: 100%;
    padding: 15px;
    height: 165px;
    padding-top: 0px;
    margin-bottom: 10px;
    background-color: #3a3dbe;
    color: white;
    border-radius: 10px;
}

h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.95);
    margin-bottom: 10px;
    margin-top: 10px;
}

#totalBalance, #income, #expense {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#incomeExpense {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30%;
}

.smallText {
    font-size: 1.7rem;
    font-weight: 500;
}

.mediumText {
    font-size: 2rem;
    font-weight: 500;
}

.bigText {
    font-size: 3.7rem;
    font-weight: 600;
}

fieldset {
    border: none;
    height: auto;
}

#transactions {
    height: 20%;
    width: 100%;
}

#transactions legend {
    font-size: 2.1rem;
    font-weight: 600;
}

#transactions p {
    font-size: 1.8rem;
}

#transactions a {
    text-decoration: none;
}

#addTransaction {
    display: flex;
    flex-direction: column;
}

#addTransaction legend {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.transactionSuccess {
    font-size: 1.7rem;
    color: green;
}

#addTransaction input {
    margin: 10px;
    height: 25px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#addTransaction label {
    font-size: 1.5rem;
    font-weight: 500;
}

#inputExpenseChoiceButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border-radius: 3px;
}

#inputExpenseChoiceButtons button {
    background-color: #eee;
    padding: 3px;
    width: 40%;
    height: 10%;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

#nameFieldCatSelectDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#nameFieldCatSelectDiv input {
    width: 150px;
    height: 32px;
}

#nameFieldCatSelectDiv select{
    margin-top: 10px;
    height: 31px;
}

#amountDateDiv {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
}

#amountDateDiv label {
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

#amountDateDiv input {
    width: 150px;
    height: 32px;
}

#addExpenseButton {
    width: 100%;
    height: 33px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background-color: #3a3dbe;
    color: white;
    transition: transform 0.3s ease;
}

#addExpenseButton:hover {
    transform: scale(1.02);
}

input, select {
    border: 1px solid #ddd !important;
    background-color: white !important;
    font-size: 1.6rem;
    cursor: pointer;
}

input:focus, select:focus {
    outline: 1px solid rgb(88, 194, 226);
}

select {
    border-radius: 3px;
}

.selected {
    background-color: rgb(202, 201, 201) !important;
    box-shadow: 0px 0px 10px 5px rgba(141, 65, 65, 0.5);
}

@media screen and (min-height: 700px) {
    h1 {
        margin-bottom: 30px;
        margin-top: 15px;
    }

    #incomeExpense {
        margin-top: 20px;
    }

    header {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 390px) {
    body {
       transform: scale(0.9);
    }
}
