* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", Verdana, Tahoma, sans-serif;
    /* border: 0.5px solid black; */
    /* width: 100%; */

}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px  5px;
    background-color: #f6f8fa;;
}

h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.95);
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 500;
}

#container, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container {
    width: 392px;
    height: 150%;
    /* border: 1px solid black; */
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    perspective: 1000px;
}

#filtersDiv {
    display: flex;
    gap: 10%;
    margin-bottom: 20px;
}

#filtersDiv label {
    font-size: 1.2rem;
    font-weight: 500;
}

#filtersDiv select {
    font-size: 1.5rem;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;;
}

#filtersDiv select:focus {
    outline: 1px solid rgb(88, 194, 226);

}

#transactionsDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}