* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", Verdana, Tahoma, sans-serif;
    /* border: 0.5px solid black; */
    /* width: 100%; */

}

html {
    font-size: 62.5%;
}

body {
    height: auto;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px  5px;
    background-color: #f6f8fa;;
}

h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.95);
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 500;
}

#container, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container {
    width: 392px;
    min-height: 92vh;
    /* border: 1px solid black; */
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    perspective: 1000px;
}

#filtersDiv {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-bottom: 20px;
}

#filtersDiv label {
    font-size: 1.2rem;
    font-weight: 500;
}

#filtersDiv select {
    font-size: 1.5rem;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    width: 120pxpx;
}

#filtersDiv select:focus {
    outline: 1px solid rgb(88, 194, 226);

}

#transactionsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.defaultText {
    font-size: 2.4rem;
    margin-top: 40px;
    color: rgb(39, 39, 39);
}

.transactionDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(214, 207, 207, 0.7);
    border-radius: 5px;
}

.transactionDiv  div {
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}

.name {
    font-size: 2rem;
    margin-bottom: 5px;
}

.date {
    font-size: 1.2rem;
    color: rgb(0, 0, 0, 0.8);
}

.category {
    font-size: 1.35rem;;
}

.amount {
    font-size: 1.75rem;
}

.greenText {
    color: rgba(3, 211, 3, 0.95);
}

.redText {
    color: rgba(255, 30, 30, 0.95);
}

#clearButton {
    height: 25px;
    width: 120px;
    margin-top: 16px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(255, 3, 3);
    transition: transform 0.3s ease;
    will-change: transform;
}

#clearButton:hover {
    transform: scale(1.05)
}

#popup {
    z-index: 999;
    opacity: 0%;
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
    height: 250px;
    background-color: white;
    padding: 10px 25px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#backToMainPageDiv {
    width: 100%;
    display:flex;
    justify-content: center;
}

#backToMainPageButton {
    background-image: linear-gradient(to right, #5594f3, #185cee);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border: none;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    will-change: transform;
    margin-bottom: 30px;
}

#backToMainPageButton:hover {
    transform: scale(1.1);
}

#popup h1 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}

#popup p {
    font-size: 2rem;
}

#poputButtonsDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popupButton {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    will-change: transform;
    transition: transform 0.3s ease;
}

.popupButton:hover {
    transform: scale(1.2);
}

#confirmButton {
    color: white;
    background-color: rgb(250, 29, 29);
}

#confirmButton:active {
    background-color: rgb(184, 28, 28);
}

#cancelButton {
    background-color: rgb(161, 153, 153);
}

#cancelButton:active {
    background-color: rgb(102, 97, 97);
}



@media (min-height: 680px) {
    h1 {
        margin-top: -20px;
        font-size: 3.2rem;
    }

    #backToMainPageDiv {
        margin-bottom: 5px; 
    }

    #filtersDiv {
        margin-bottom: 30px;
    }

    #filtersDiv select {
        height: 20px;
    }
}
@media (min-height: 700px) {
    h1 {
        margin-top: -30px;
        font-size: 3.5rem;
    }

    #backToMainPageDiv {
        margin-bottom: 10px;
    }

    #filtersDiv {
        margin-bottom: 37px;
    }

    #filtersDiv select {
        height: 25px;
    }
}

@media (max-width: 385px) {
    body {
        transform: scale(0.9);
    }
}

@media (max-width: 380px) {
    body {
        transform: scale(0.85);
    }
}

@media (max-width: 375px) {
    body {
        transform: scale(0.80);
    }
}